<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>indexServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controler.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controler.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controler.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGGServlet</servlet-name>
        <servlet-class>controler.LoginGGServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>controler.PostJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controler.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostServlet</servlet-name>
        <servlet-class>controler.ListPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptJob</servlet-name>
        <servlet-class>controler.AcceptJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controler.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectJob</servlet-name>
        <servlet-class>controler.RejectJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>controler.DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>controler.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>controler.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controler.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepassServlet</servlet-name>
        <servlet-class>controler.ChangepassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controler.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEnter</servlet-name>
        <servlet-class>controler.SearchEnter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controler.SearchUser</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>controler.CreateAccountServlet</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGGServlet</servlet-name>
        <url-pattern>/LoginGGServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/PostJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostServlet</servlet-name>
        <url-pattern>/list-post</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackHomePage</servlet-name>
        <servlet-class>controler.BackHomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackHomePage</servlet-name>
        <url-pattern>/BackHomePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewPostedJob</servlet-name>
        <servlet-class>controler.ViewPostedJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPostedJob</servlet-name>
        <url-pattern>/ViewPostedJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateJob</servlet-name>
        <servlet-class>controler.UpdateJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateJob</servlet-name>
        <url-pattern>/UpdateJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewEachJobEnter</servlet-name>
        <servlet-class>controler.ViewEachJobEnter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEachJobEnter</servlet-name>
        <url-pattern>/ViewEachJobEnter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RejectJobReal</servlet-name>
        <servlet-class>controler.RejectJobReal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejectJobReal</servlet-name>
        <url-pattern>/RejectJobReal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJobDetailAdmin</servlet-name>
        <servlet-class>controler.ViewJobDetailAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobDetailAdmin</servlet-name>
        <url-pattern>/ViewJobDetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchIndex</servlet-name>
        <servlet-class>controler.SearchIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchIndex</servlet-name>
        <url-pattern>/SearchIndex</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>controler.Statistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptJob</servlet-name>
        <url-pattern>/AcceptJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectJob</servlet-name>
        <url-pattern>/RejectJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepassServlet</servlet-name>
        <url-pattern>/ChangepassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEnter</servlet-name>
        <url-pattern>/SearchEnter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>getinfoenterprise</servlet-name>
        <servlet-class>controler.getinfoenterprise</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getinfoenterprise</servlet-name>
        <url-pattern>/getinfoenterprise</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getinfouser</servlet-name>
        <servlet-class>controler.getinfouser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getinfouser</servlet-name>
        <url-pattern>/getinfouser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostJobNotice</servlet-name>
        <servlet-class>controler.PostJobNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostJobNotice</servlet-name>
        <url-pattern>/PostJobNotice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJobDetailUser</servlet-name>
        <servlet-class>controler.ViewJobDetailUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobDetailUser</servlet-name>
        <url-pattern>/ViewJobDetailUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJobDetaiEnter</servlet-name>
        <servlet-class>controler.ViewJobDetaiEnter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobDetaiEnter</servlet-name>
        <url-pattern>/ViewJobDetaiEnter</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ViewJobDetailIndex</servlet-name>
        <servlet-class>controler.ViewJobDetailIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobDetailIndex</servlet-name>
        <url-pattern>/ViewJobDetailIndex</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackHomePageUser</servlet-name>
        <servlet-class>controler.BackHomePageUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackHomePageUser</servlet-name>
        <url-pattern>/BackHomePageUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProfileUser</servlet-name>
        <servlet-class>controler.ViewProfileUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProfileUser</servlet-name>
        <url-pattern>/ViewProfileUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileUser</servlet-name>
        <servlet-class>controler.EditProfileUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileUser</servlet-name>
        <url-pattern>/EditProfileUser   </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangepassUser</servlet-name>
        <servlet-class>controler.ChangepassUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangepassUser</servlet-name>
        <url-pattern>/ChangepassUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
